img {
    width: 200px;
}

#content, #body, #nav, #header, #info {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#content, #body, #info {
    flex-direction: column;
}

#nav {
    gap: 24px;
}

#body {
    gap: 50px;
}

#content, #header {
    gap: 30px;
}

#info {
    gap: 75px;
}