img {
    width: 150px;
}

#content, #body, #nav, #header, #info {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#content, #body, #info {
    flex-direction: column;
}

#nav {
    gap: 25px;
}

#body {
    gap: 50px;
}

#content, #header {
    gap: 30px;
}

#info {
    gap: 75px;
}

.nav_button {
    width: 80px;
    height: 30px;
    border: 1px solid #C0C0C0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}