img {
    width: 200px;
}

#content, #body, #nav, #header, #info {
    display: flex;
    justify-content: center;
    align-items: center; 
}

#content, #body, #info {
    flex-direction: column;
}

#nav, #body {
    gap: 20px;
}

#content, #header, #info {
    gap: 30px;
}